html, body {
    margin: 0;
    padding: 0;
}

/*灰色模式*/
.gray {
    filter: grayscale(100%);
}

/*色弱模式*/
.invert {
    filter: invert(80%);
}

/*滚动条*/
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
    background-color: #0000004d;
}
