html,body{height: 100%;width: 100%}
#app{height: 100%;}

.container-form{background-color: #fff;padding: 12px;margin-bottom: 12px;display: flex;flex-direction: row;justify-content: space-between;}
.form-search{}
.form-search button{margin-right: 10px;}

.form-action{display: flex;flex-direction: row;}
.form-action button{margin-left: 10px;}

.container-card{background-color: #fff;}

.ant-table-tbody button{margin-right: 10px;}